<h1>Comment List</h1>
</br>

<table class="table table-striped table-condensed">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Book Title</th>
    <th>Book Author</th>
    <th>Comment Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if @comments.count.zero? %>
  <p><center>There are not currently any comments.</center></p></br>
<% end %>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.user_id %></td>
    <td><%= comment.user_id %></td>
    <td><%= comment.book_id %></td>
    <td><%= comment.book_id %></td>
    <td><%= comment.text %>
  </tr>
<% end %>
</table>

<br />

