<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Amazon link:</b>
  <%= link_to raw(amazon_pic_url(@book.asin)) %>
</p>


<%= link_to 'Edit', edit_user_book_path(current_user, @book.id) %> |
<%= link_to 'Back', user_books_path %> 

<%= form_for @comment do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :text, placeholder: "Compose new comment here ..." %>
    <%= f.hidden_field :book_id, :value => @book.id %>
  </div> 

  <div class="actions">
    <%= f.submit "Post Comment", class: "btn btn-large btn-primary" %>
  </div>
<% end %>

<h1>Comments for this Book:</h1>
</br>
<% @comments.each do |comment| %>
  <%= render partial: 'shared/comments', locals: {comment: comment} %>
<% end %>
<p id='current_user_id' style='display:none;'><%=current_user.email%></p>
<p></p>
