<!DOCTYPE html>
<html>
<head>
  <title>JoesBooks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</p>

<% if user_signed_in? %>
	<%= link_to 'Home', user_books_path(current_user) %></p>
	<%= link_to 'Vote', new_user_vote_path(current_user) %></p>
	<%= link_to 'All Books', all_books_index_path %></p>
	<%= link_to 'All Votes', all_votes_index_path %></p>
	<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
	</p>
	Signed in as user 
	<%= current_user.email %> 
<% end %>

</body>
</html>
